In [1]:
import numpy as np
import pandas as pd

In [2]:
match = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
match.shape

(756, 18)

In [5]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
total_score_df = delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [7]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [8]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

In [9]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [10]:
match_df = match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [11]:
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [12]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [13]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'
]

In [14]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [15]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [16]:
match_df.shape

(641, 20)

In [17]:
match_df = match_df[match_df['dl_applied'] == 0]

In [18]:
match_df = match_df[['match_id','city','toss_winner','toss_decision','winner','total_runs']]

In [19]:
match_df

,match_id,city,toss_winner,toss_decision,winner,total_runs
0,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207
4,5,Bangalore,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,157
6,7,Mumbai,Mumbai Indians,field,Mumbai Indians,178
7,8,Indore,Royal Challengers Bangalore,bat,Kings XI Punjab,148
9,10,Mumbai,Mumbai Indians,field,Mumbai Indians,158
...,...,...,...,...,...,...
751,11347,Mumbai,Mumbai Indians,field,Mumbai Indians,143
752,11412,Chennai,Chennai Super Kings,bat,Mumbai Indians,136
753,11413,Visakhapatnam,Delhi Capitals,field,Delhi Capitals,171
754,11414,Visakhapatnam,Chennai Super Kings,field,Chennai Super Kings,155
755,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152

In [20]:
delivery_df = match_df.merge(delivery,on='match_id')

In [21]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [22]:
delivery_df

,match_id,city,toss_winner,toss_decision,winner,total_runs_x,inning,batting_team,bowling_team,over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149574,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149575,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
149576,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149577,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [23]:
delivery_df['current_score'] = delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [24]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [25]:
delivery_df['balls_left'] = 126 - (delivery_df['over']*6 + delivery_df['ball'])

In [26]:
delivery_df

,match_id,city,toss_winner,toss_decision,winner,total_runs_x,inning,batting_team,bowling_team,over,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,1,0,1,NaN,NaN,NaN,1,206,119
126,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,NaN,1,206,118
127,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,NaN,1,206,117
128,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,2,0,2,NaN,NaN,NaN,3,204,116
129,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,4,0,4,NaN,NaN,NaN,7,200,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,1,0,1,NaN,NaN,NaN,152,0,4
149574,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,2,0,2,NaN,NaN,NaN,154,-2,3
149575,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,1,0,1,SR Watson,run out,KH Pandya,155,-3,2
149576,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,2,0,2,NaN,NaN,NaN,157,-5,1
149577,11415,Hyderabad,Mumbai Indians,bat,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,...,0,0,0,0,SN Thakur,lbw,NaN,157,-5,0

In [27]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: x if x == "0" else "1")
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('match_id')['player_dismissed'].cumsum().values
delivery_df['wickets'] = 10 - wickets
delivery_df.head()

,match_id,city,toss_winner,toss_decision,winner,total_runs_x,inning,batting_team,bowling_team,over,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
125,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,1,0,1,0,NaN,NaN,1,206,119,10
126,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,1,206,118,10
127,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,1,206,117,10
128,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,2,0,2,0,NaN,NaN,3,204,116,10
129,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,4,0,4,0,NaN,NaN,7,200,115,10

In [28]:
delivery_df.head()

,match_id,city,toss_winner,toss_decision,winner,total_runs_x,inning,batting_team,bowling_team,over,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets
125,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,1,0,1,0,NaN,NaN,1,206,119,10
126,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,1,206,118,10
127,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,0,0,0,0,NaN,NaN,1,206,117,10
128,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,2,0,2,0,NaN,NaN,3,204,116,10
129,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,4,0,4,0,NaN,NaN,7,200,115,10

In [29]:
# crr = runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [30]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [31]:
delivery_df['runs_on_ball'] = np.random.choice([0, 1, 2, 3, 4, 6], size=72413, p=[0.3, 0.4, 0.15, 0.05, 0.08, 0.02])
delivery_df['batsman_runs'] = np.cumsum(delivery_df['runs_on_ball'])
delivery_df['balls_faced'] = delivery_df['over']
delivery_df['batsman_strike_rate'] = ((delivery_df['batsman_runs'] * 100) / delivery_df['balls_faced']).round(3)

delivery_df['non_striker_runs_on_ball'] = np.random.choice([0, 1, 2, 3, 4, 6], size=72413, p=[0.4, 0.35, 0.15, 0.05, 0.04, 0.01])
delivery_df['non_striker_runs'] = np.cumsum(delivery_df['non_striker_runs_on_ball'])
delivery_df['non_striker_balls_faced'] = np.cumsum(np.random.choice([0, 1], size=72413, p=[0.3, 0.7]))
delivery_df['non_striker_balls_faced'].replace(0, 1, inplace=True)
delivery_df['non_striker_strike_rate'] = ((delivery_df['non_striker_runs'] * 100) / delivery_df['non_striker_balls_faced']).round(3)

In [32]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [33]:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [34]:
delivery_df.head()

,match_id,city,toss_winner,toss_decision,winner,total_runs_x,inning,batting_team,bowling_team,over,...,crr,rrr,runs_on_ball,balls_faced,batsman_strike_rate,non_striker_runs_on_ball,non_striker_runs,non_striker_balls_faced,non_striker_strike_rate,result
125,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,6.0,10.386555,1,1,100.0,0,0,1,0.000,0
126,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,3.0,10.474576,0,1,100.0,0,0,1,0.000,0
127,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,2.0,10.564103,2,1,300.0,0,0,2,0.000,0
128,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,4.5,10.551724,1,1,400.0,1,1,2,50.000,0
129,1,Hyderabad,Royal Challengers Bangalore,field,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,...,8.4,10.434783,1,1,500.0,0,1,3,33.333,0

In [35]:
final_df = delivery_df[['batting_team','bowling_team','city','toss_winner','toss_decision','runs_left','balls_left','wickets','batsman_strike_rate','non_striker_strike_rate','total_runs_x','crr','rrr','result']]

In [36]:
final_df = final_df.sample(final_df.shape[0])

In [37]:
final_df.sample()

,batting_team,bowling_team,city,toss_winner,toss_decision,runs_left,balls_left,wickets,batsman_strike_rate,non_striker_strike_rate,total_runs_x,crr,rrr,result
83546,Rajasthan Royals,Chennai Super Kings,Jaipur,Rajasthan Royals,field,57,45,6,401107.692,144.816,141,6.72,7.6,1

In [38]:
final_df.dropna(inplace=True)

In [39]:
final_df = final_df[final_df['balls_left'] != 0]

In [40]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [41]:
X_train

,batting_team,bowling_team,city,toss_winner,toss_decision,runs_left,balls_left,wickets,batsman_strike_rate,non_striker_strike_rate,total_runs_x,crr,rrr
76612,Sunrisers Hyderabad,Kings XI Punjab,Hyderabad,Kings XI Punjab,bat,68,62,8,478130.000,144.620,123,5.689655,6.580645
47820,Mumbai Indians,Chennai Super Kings,Mumbai,Chennai Super Kings,bat,23,1,1,147770.000,144.010,168,7.310924,138.000000
42236,Mumbai Indians,Chennai Super Kings,Chennai,Chennai Super Kings,bat,134,95,10,522100.000,143.948,165,7.440000,8.463158
64531,Mumbai Indians,Delhi Daredevils,Delhi,Mumbai Indians,field,39,4,3,200050.000,144.664,207,8.689655,58.500000
48466,Mumbai Indians,Delhi Daredevils,Delhi,Delhi Daredevils,bat,53,69,8,332688.889,144.288,95,4.941176,4.608696
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99880,Kings XI Punjab,Kolkata Knight Riders,Kolkata,Kings XI Punjab,field,157,110,9,3118500.000,145.213,163,3.600000,8.563636
125244,Rajasthan Royals,Chennai Super Kings,Pune,Rajasthan Royals,field,204,114,10,7795100.000,145.012,210,6.000000,10.736842
95192,Chennai Super Kings,Rajasthan Royals,Ranchi,Rajasthan Royals,bat,34,22,6,350529.412,145.048,148,6.979592,9.272727
85159,Mumbai Indians,Kings XI Punjab,Dharamsala,Mumbai Indians,field,180,112,9,2653050.000,144.939,183,2.250000,9.642857
14058,Rajasthan Royals,Deccan Chargers,Jaipur,Rajasthan Royals,field,29,41,9,60607.143,141.728,140,8.430380,4.243902

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer(
    [('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city','toss_winner','toss_decision'])],
    remainder='passthrough'
)

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier,ExtraTreesClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
import pickle
import os

In [44]:
models = {
    'Logistic Regression': LogisticRegression(solver='liblinear'),
    'Random Forest': RandomForestClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Extra Trees': ExtraTreesClassifier(),
    'XGBoost': XGBClassifier(use_label_encoder=False, eval_metric='logloss'),
    'AdaBoost': AdaBoostClassifier(),
    'KNN': KNeighborsClassifier(n_neighbors=5)
}

In [45]:
os.makedirs('models', exist_ok=True)

In [46]:
for model_name, model in models.items():
    if not hasattr(model, 'predict_proba'):
        print(f"Warning: {model_name} does not support probability prediction.")

In [47]:
for model_name, model in models.items():
    pipe = Pipeline(steps=[
        ('step1', trf),
        ('step2', model)
    ])
    pipe.fit(X_train, y_train)
    y_pred = pipe.predict(X_test)
    y_proba = pipe.predict_proba(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'{model_name} Accuracy: {accuracy * 100:.2f}%')
    print(f'{model_name} Example Probabilities: {y_proba[:5]}')
    file_path = f'models/{model_name.replace(" ", "_").lower()}.pkl'
    with open(file_path, 'wb') as f:
        pickle.dump(pipe, f)
    print(f'{model_name} saved to {file_path}')

Logistic Regression Accuracy: 72.45%
Logistic Regression Example Probabilities: [[0.51825093 0.48174907]
 [0.22776215 0.77223785]
 [0.36740548 0.63259452]
 [0.32952481 0.67047519]
 [0.72257501 0.27742499]]
Logistic Regression saved to models/logistic_regression.pkl
Random Forest Accuracy: 99.99%
Random Forest Example Probabilities: [[0.   1.  ]
 [0.01 0.99]
 [0.   1.  ]
 [0.   1.  ]
 [0.25 0.75]]
Random Forest saved to models/random_forest.pkl
Gradient Boosting Accuracy: 85.64%
Gradient Boosting Example Probabilities: [[0.29370724 0.70629276]
 [0.06747544 0.93252456]
 [0.27607916 0.72392084]
 [0.07698279 0.92301721]
 [0.47720665 0.52279335]]
Gradient Boosting saved to models/gradient_boosting.pkl
Extra Trees Accuracy: 100.00%
Extra Trees Example Probabilities: [[0.   1.  ]
 [0.   1.  ]
 [0.   1.  ]
 [0.   1.  ]
 [0.03 0.97]]
Extra Trees saved to models/extra_trees.pkl

c:\Users\balup\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\core.py:158: UserWarning: [13:24:30] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-08cbc0333d8d4aae1-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

XGBoost Accuracy: 99.99%
XGBoost Example Probabilities: [[4.9623847e-03 9.9503762e-01]
 [1.5801191e-03 9.9841988e-01]
 [1.8982291e-03 9.9810177e-01]
 [4.5663118e-04 9.9954337e-01]
 [7.6574802e-02 9.2342520e-01]]
XGBoost saved to models/xgboost.pkl

c:\Users\balup\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\ensemble\_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

AdaBoost Accuracy: 80.41%
AdaBoost Example Probabilities: [[0.4973309  0.5026691 ]
 [0.49032396 0.50967604]
 [0.50128509 0.49871491]
 [0.48597308 0.51402692]
 [0.50900083 0.49099917]]
AdaBoost saved to models/adaboost.pkl
KNN Accuracy: 92.57%
KNN Example Probabilities: [[0.  1. ]
 [0.  1. ]
 [0.2 0.8]
 [0.4 0.6]
 [0.  1. ]]
KNN saved to models/knn.pkl

In [51]:
def match_summary(row):
    print("Batting Team-" + row['batting_team'] + " | Bowling Team-" + row['bowling_team'] + " | Target- " + str(row['total_runs_x']))

In [58]:
def match_progression(x_df,match_id,pipe):
    match = x_df[x_df['match_id'] == match_id]
    match = match[(match['ball'] == 6)]
    temp_df = match[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x','crr','rrr']].dropna()
    temp_df = temp_df[temp_df['balls_left'] != 0]
    result = pipe.predict_proba(temp_df)
    temp_df['lose'] = np.round(result.T[0]*100,1)
    temp_df['win'] = np.round(result.T[1]*100,1)
    temp_df['end_of_over'] = range(1,temp_df.shape[0]+1)
    
    target = temp_df['total_runs_x'].values[0]
    runs = list(temp_df['runs_left'].values)
    new_runs = runs[:]
    runs.insert(0,target)
    temp_df['runs_after_over'] = np.array(runs)[:-1] - np.array(new_runs)
    wickets = list(temp_df['wickets'].values)
    new_wickets = wickets[:]
    new_wickets.insert(0,10)
    wickets.append(0)
    w = np.array(wickets)
    nw = np.array(new_wickets)
    temp_df['wickets_in_over'] = (nw - w)[0:temp_df.shape[0]]
    
    print("Target-",target)
    temp_df = temp_df[['end_of_over','runs_after_over','wickets_in_over','lose','win']]
    return temp_df,target

In [ ]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [ ]:
delivery_df['city'].unique()

array(['Hyderabad', 'Bangalore', 'Mumbai', 'Indore', 'Kolkata', 'Delhi',
       'Chandigarh', 'Jaipur', 'Chennai', 'Cape Town', 'Port Elizabeth',
       'Durban', 'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi',
       'Sharjah', nan, 'Mohali', 'Bengaluru'], dtype=object)